.contain{
	padding-top:30px;
	height: 0px;
	}

.wrapper{
	width:600px;
	height:100px;
	margin: 0 auto;

}
.ckeckboxes{
	width:250px;
	float:left;
	padding:10px;
		}

.ckeckboxes1{
	width:300px;
	float:right;
	padding-top:10px;

		}
#mapid { height: 600px; width: 100%; align: "center"}
.date_btn{
	height:200px;
	padding-left:300px;
	padding-top:180px;
	margin-top:100px;

	}
.d_btn{
	background-color:#87CEFA;
	font-size:20px;
	padding: 14px 40px;
	color:white;
	cursor:pointer;
}
.d_btn:hover {
  background-color: #1E90FF;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.d_btn:active {
  background-color: #1E90FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.select{
	padding:8px 12px;
	color:white;
	background-color:#87CEFA;
	border:1px solid grey;
	cursor:pointer;
	border-radius:5px;
}
.select:focus{

}
.select option{
	background:grey;
}
.select:hover{
	outline:none;
	border:1px solid #1E90FF;
}
.one{
	width:25%;
	float:left;
}
input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: #87CEFA;
  border-color: #87CEFA;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #87CEFA;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: ##87CEFA;
  border-color: ##87CEFA;
}

.wrapper{
	width:600px;
	height:400px;
	margin: 0 auto;
	padding-top:120px;
}
.ckeckboxes{
	width:250px;
	float:left;
	padding:10px;
		}

.ckeckboxes1{
	width:300px;
	float:right;
	padding-top:10px;

		}
#mapid { height: 600px; width: 100%; align: "center"}
.date_btn{
	height:200px;
	padding-left:300px;
	padding-top:180px;
	margin-top:100px;

	}
.d_btn{
	background-color:#87CEFA;
	font-size:20px;
	padding: 14px 40px;
	color:white;
	cursor:pointer;
}
.d_btn:hover {
  background-color: #1E90FF;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.d_btn:active {
  background-color: #1E90FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.select{
	padding:8px 12px;
	color:white;
	background-color:#87CEFA;
	border:1px solid grey;
	cursor:pointer;
	border-radius:5px;
}
.select:focus{

}
.select option{
	background:grey;
}
.select:hover{
	outline:none;
	border:1px solid #1E90FF;
}
.one{
	width:25%;
	float:left;
}
input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: #87CEFA;
  border-color: #87CEFA;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #87CEFA;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: ##87CEFA;
  border-color: ##87CEFA;
}
